.header{
   background-color:#000022;
   padding-block: 1px;
}

/*navigation bar properties*/

.nav-flex {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;

}

/*navigation bar logo properties*/

.logo {
    position: absolute;
    left: 50px;
    max-width: 10%;

}

/*navigation link spacing properties*/

.nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

/*navigation link font properties*/
.nav-link a {
    text-decoration: none;
    font-weight: 300px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*navigation link hover properties*/

.nav-link a:hover {
    color: #0094c6;
}

/* banner properties */

.banner {
    background-color: #001242;
    color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

/* selfie properties */

.selfie {
    max-width: 30%;
    border-radius: 50%;

}

/* banner header properties */

.banner-header {
   color: #0094c6;
}


    /* banner button properties */

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    border: 1px solid #005e7c;
    margin: 5px;
    border-radius: 5%;
    padding: 5px;
    text-decoration: none;
    color: #0094c6;
}

/* button hover properties */

.button a:hover {
    background-color: white;
    color: black;
}

/* flex container properties */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 20px;
}

.flex-container > div {
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 20%;
    border: 1px solid #0094c6;
    background-color: #005e7c;
    margin: 10px;
    padding: 80px;
}

.flex-container > .horiseon {
    color: white;
    position: relative;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    border: 5px solid #0094c6;
    margin: 50px;
    padding: 80px;
    padding-inline: 50px;
}

.horiseon-text {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #0094c6;

}

.horiseon-text a:hover {
    opacity: 70%;
}



/* Media queeries */

@media screen and (max-width: 576px) {
    .nav-flex {
        flex-direction: column;
        align-items: center;
        padding-right: 40px;
    }

    .view-button {
        flex-direction: ;
    }

}

